<div class="order">
  
  <hr>
 
   
      <label>Your arrival time to Restaurent  :---</label>
      <input class="form-control timepicker" id="appt-time" type="time" name="appt-time"
      min="00:00" max="18:00" required
      pattern="[0-9]{2}:[0-9]{2}" value="20:00">
      
   
    <button (click)="openConfirmModal(content)" class="btn btn-danger btn-confirm btn-block">Order place now</button>
    <hr>
  
 
  <p class="order-note-title">People are interested into this Restaurent.</p>
  <p class="order-note-text">
    More than 50 people checked this rental in last 6 month.
  </p>
</div>


<ng-template #content let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Confirm Order <p></p></h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"></span>
    </button>
  </div>
  <div class="modal-body">
    
    
    <p>Do you confirm ?</p>
  </div>
  <div class="modal-footer">
    
    <button type="button" class="btn btn-bwm" (click)="c('Close click')">Close</button>
  </div>
</ng-template>
