<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title" align="center">Register</h1>
        <form  #form="ngForm" (submit)="onSubmit(form)">
          <div class="form-group">
            <label for="userName">userName</label><br>
            <input [(ngModel)]="service.formData.userName"
            #userName="ngModel"
            name="userName"
            type="text"
            class="for-control"
            id="userName"
            size="35"
            required>
          <div *ngIf="userName.invalid && (userName.dirty || userName.touched)"
          class="alert alert-danger">userName is required.

          
        </div>
          </div>

          <div class="form-group">
            <label for="email" data-error="Invalid email!">Email</label><br>
            <input [(ngModel)]="service.formData.email"
            #email="ngModel"
            name="email"
            type="email"
            class="for-control"
            id="email"
            size="35"
            [pattern]="emailPattern"
            required> 
            <div *ngIf="email.invalid && (email.dirty || email.touched)"
          class="alert alert-danger"> Email is required.

          
        </div>
          </div>

          <div class="form-group">
            <label for="phoneNumber">phone Number</label><br>
            <input [(ngModel)]="service.formData.phoneNumber"
            #phoneNumber="ngModel"
            name="phoneNumber"
            type="tel"
            class="for-control"
            id="phoneNumber"
            size="35"
            required>
            <div *ngIf="phoneNumber.invalid && (phoneNumber.dirty || phoneNumber.touched)"
                 class="alert alert-danger">phoneNumber is required.

            </div>
          </div>
          <div class="form-group">
            <label for="displayName">Restaurant/displayName Name</label><br>
            <input [(ngModel)]="service.formData.displayName"
            #displayName="ngModel"
            name="displayName"
            type="text"
            class="for-control"
            id="displayName"
            size="35"
            required>
            <div *ngIf="displayName.invalid && (displayName.dirty || displayName.touched)"
                 class="alert alert-danger">displayName is required.

              
            </div>
          </div>

          <div class="form-group">
            <label for="password">Password</label><br>
            <input [(ngModel)]="service.formData.password"
            #password="ngModel"
            name="password"
            type="password"
            class="for-control"
            id="password"
            size="35"
            pattern=".{8,}"   required title="8 characters minimum"
            >
            <div *ngIf="password.invalid && (password.dirty || password.touched)"
                 class="alert alert-danger">Password is required.

              
              
              
            </div>
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label><br>
            <input [(ngModel)]="service.formData.passwordConfirmation"
            #passwordConfirmation="ngModel"
            name="passwordConfirmation"
            type="password"
            class="for-control"
            id="passwordConfirmation"
            size="35"
            required><div *ngIf="passwordConfirmation.invalid && (passwordConfirmation.dirty || passwordConfirmation.touched)"
            class="alert alert-danger">Password Confirmation is required.

         
         
       </div>

          </div>
          <button [disabled]="!registerForm.form.valid" (click)="register()" type="submit" class="btn btn-primary float-right" >Submit</button>
        </form>
        <div *ngIf="errors.length > 0" class="alert alert-danger">
          <p *ngFor="let error of errors">
            {{error.detail}}
          </p>
        </div>

      </div>

    </div>
  </div>

</section>

