<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
<section id="register">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title" align="center">Register</h1>
        <form >
          <div class="form-group">
            <label for="username">Username</label><br>
            <input type="text" class="="for-control id="username" size="35">
          </div>

          <div class="form-group">
            <label for="email">Email</label><br>
            <input type="email" class="="for-control id="email" size="35">
          </div>

          <div class="form-group">
            <label for="contact">Contact</label><br>
            <input type="tel" class="="for-control id="contact" size="35">
          </div>
          <div class="form-group">
            <label for="Society">Restaurant/Society Name</label><br>
            <input type="text" class="="for-control id="Society" size="35">
          </div>

          <div class="form-group">
            <label for="password">Password</label><br>
            <input type="password" class="="for-control id="password" size="35">
          </div>

          <div class="form-group">
            <label for="passwordConfirmation">Confirm Password</label><br>
            <input type="text" class="="for-control id="passwordConfirmation" size="35">
          </div>
          <button  type="submit" class="btn btn-bwm" >Submit</button>
        </form>
        
        
      </div>
      
    </div>
  </div>
  
</section>