<section id="newItem">
  <div class="bwm-form">
    <div class="row">
      <div class="col-md-5">
        <h1 class="page-title">Create Item</h1>
        <form #form="ngForm" (submit)="onSubmit(form)">
          

          <div class="form-group">
            <label for="foodname">Food Name</label>
            <input [(ngModel)]="itemadd.formData.foodname"
                  #foodname="ngModel"
                   type="text"
                   class="form-control"
                   id="foodname"
                   name="foodname"
                   
                   required>
                   <div *ngIf="foodname.invalid && (foodname.dirty || foodname.touched)"
          class="alert alert-danger">Food Name is required.

          
        </div>
          </div>

          <div class="form-group">
            <label for="image">Image</label>
            <input [(ngModel)]="itemadd.formData.image"
                   type="file"
                   #image="ngModel"
                   name="image"
                   class="form-control"
                   id="image"
                   
                   placeholder="Upload file..."
                   required>

                   
                   <div *ngIf="image.invalid && (image.dirty || image.touched)"
          class="alert alert-danger">Image is required.
        </div>
          </div>
          
        <div class="form-group" >
          <label class="icon-map-marker" for="location">Location</label>
          
          <!--<bwm-map></bwm-map-->>
        </div>

          
          <div class="form-group">
              <label for="date">Date</label>
          <input [(ngModel)]="itemadd.formData.date"  
                  class="form-control"
                  #date="ngModel"
                 type="text"  
                 name="date" 
                 id="date" 
                 
                 placeholder="YYYY-MM-DD" required 
          pattern="(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))" 
          title="Enter a date in this format YYYY-MM-DD"/>
          <div *ngIf="date.invalid && (date.dirty || date.touched)"
          class="alert alert-danger">Valid Date is required.
        </div>
          </div>
          

          <div class="form-group">
            <label for="time">Time</label>
        <input  [(ngModel)]="itemadd.formData.time"
                class="form-control"
                #time="ngModel"
               type="time"  
               name="time" 
               id="time" 
               
               
        
        >
        <div *ngIf="time.invalid && (time.dirty || time.touched)"
        class="alert alert-danger">Valid Time is required.
      </div>
        </div>

          

          <div class="form-group">
            <label for="description">Description</label>
            <textarea [(ngModel)]="itemadd.formData.description"
            rows="5"
                      #description="ngModel"
                      type="text"
                      class="form-control"
                      id="description"
                      name="description"
                      
                      required>
            </textarea>
            <div *ngIf="description.invalid && (description.dirty || description.touched)"
          class="alert alert-danger">Description is required.
        </div>
          </div>

          

          
          <button 
                  
                  type="submit" class="btn btn-bwm">Submit</button>
        </form>
      </div>
      <!--<div *ngIf="errors.length > 0" class="alert alert-danger">
        <p *ngFor="let error of errors">
          {{error.detail}}
        </p>
      </div>-->
      <div class="col-md-6 ml-auto">
        <div class="image-container">
          <h2 class="catchphrase">Hundreds of awesome fodds in reach of few clicks.</h2>
          <img src="../../../assets/image/Eays-Ways-to-Avoid-Food-Waste-Cover.jpg" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
