<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <img class="img-circle" src="/assets/image/Capture.png" alt="" width="50" height="50">    <a class="navbar-brand" href="#">Foodo</a>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <ng-container>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/login">LogIn <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/register">Register</a>
          </li>
      </ng-container>
      <div class="nav-item dropdown" clickable>
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Owner Section
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" routerLink="/items/new" >Create Item</a>
        </div>
      </div>
      
      
      
      <!-- https://api.adorable.io/avatars/285/abott@adorable.png -->
      
      <li class="nav-item"><!-- *ngIf="!auth-->
          <a class="nav-link" >{{auth.getUsername()}}</a>
        </li>
      <li class="nav-item">
          <a class="nav-link" >Logout</a>
        </li>
      </ul>
    </div>
  </nav>

<!-- *ngIf="!auth.isAuthenticated()" in      <ng-container>-->
<!-- *ngIf="auth.isAuthenticated()" in      logout-->