<section id="itemDetails" *ngIf="item">
    <div class="upper-section">
        <div class="row">
          <div class="col-md-6">
            <img src="/assets/image/download.jpg" alt="">
          </div>
        </div>
      </div>

      <div class="details-section">
          <div class="row">
            <div class="col-md-8">
              <div class="item">
                
                <h1 class="item-title">{{item.title}}</h1>
                <h2 class="item-city">{{item.city}}</h2>
                
                
               
              </div>
            </div>
            <section>
                <h2>Reviews</h2>
                <div *ngFor="let review of reviews" class="card review-card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-md-2">
                          <img src="https://image.ibb.co/jw55Ex/def_face.jpg" class="img img-rounded img-fluid"/>
                          <p class="text-secondary text-center">{{formatDate(review.createdAt)}}</p>
                      </div>
                      <div class="col-md-10">
                        <div>
                          <a><strong>{{review.user.username}}</strong></a>
                          <div class="review-section">
                              <!-- {{review function contents}} -->
                          </div>
                        </div>
                        <div class="clearfix"></div>
                        <p>{{review.text}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </section>
          </div>
          <div class="row">
            <div class="col-md-8">
              
            </div>
          </div>
        </div>
      
<p>{{item.id}}</p>
<p>{{item.title}}</p>
<p>{{item.city}}</p>
<p>{{item.street}}</p>
<p>{{item.category}}</p>
<p>{{item.description}}</p>
</section>